html,body{
    
    width: 1000px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}
.titulo{
    margin: 0;
  padding: 20px 0;
  color: red;
  text-shadow: 3px 3px 1px black;
}
.fecha{
    color: blue;
}
.parrafo, .parrafo2{
    font-family: "Arial", Times, serif;
}

.listas, .listas2, .listas3{
    color: green;
}
.audio{
    border: 10px solid black;
    background-color: #f5f5f5;
}
.tabla2 {
    width: 100%;
  }
.tabla2, th, td{
    border: 1px solid black;
    
}
tr:hover {background-color: #f5f5f5;}
th {
    height: 70px;
    font-family: "Arial", Times, serif;
    background-color: #4c5eaf;
  color: white;
  }